# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.pnp.cjs

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local


# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
../.Xauthority
../.android/
../.bash_history
../.bash_logout
../.bash_profile
../.bashrc
../.cache/
../.cargo/
../.cloudflared/
../.codeium/
../.compton.conf
../.config/.github
../.config/.gsd-keyboard.settings-ported
../.config/BetterDiscord/
../.config/Code - OSS/
../.config/Code/
../.config/Cunning/
../.config/Cursor/
../.config/GIMP/
../.config/Kitware/
../.config/Kvantum/
../.config/Matt-FTW/
../.config/QtProject.conf
../.config/README.md
../.config/TabNine/
../.config/Thunar/
../.config/WakaTime/
../.config/Windsurf/
../.config/abbreviations.fish
../.config/alacritty
../.config/alacritty (copy 1).toml
../.config/alacritty (copy 1).yml
../.config/alacritty (copy 2).toml
../.config/alacritty.toml
../.config/alacritty.yml
../.config/appearance.conf
../.config/autostart.conf
../.config/autostart/
../.config/blender/
../.config/btop/
../.config/cava/
../.config/chromium/
../.config/colors.ini
../.config/colors.rasi
../.config/colorschemes
../.config/completions
../.config/config
../.config/config (copy 1).rasi
../.config/config (copy 2)
../.config/config backup/
../.config/config.fish
../.config/config.ini
../.config/config.rasi
../.config/config.save
../.config/configstore/
../.config/custom_scripts/
../.config/dconf/
../.config/desktop-wakatime/
../.config/discord/
../.config/discordptb/
../.config/doctorfree/
../.config/dunst
../.config/dunstrc
../.config/dunstrc (copy 1)
../.config/emaildefaults
../.config/emailidentities
../.config/exercism/
../.config/fastfetch/
../.config/fish
../.config/fish_plugins
../.config/fish_variables
../.config/floating_bar
../.config/fontconfig/
../.config/fonts-alacritty.toml
../.config/fonts-alacritty.yml
../.config/foot/
../.config/full_screen.rasi
../.config/functions
../.config/fuzzel/
../.config/gh/
../.config/ghostty/
../.config/github-copilot/
../.config/go/
../.config/google-chrome-for-testing/
../.config/gruvbox-dark.conf
../.config/gtk-2.0/
../.config/gtk-3.0/
../.config/gtk-4.0/
../.config/hintpane/
../.config/htop/
../.config/i3
../.config/i3_bar.sh
../.config/kalarmrc
../.config/kalarmresources
../.config/kdeconnect/
../.config/keymaps.conf
../.config/kitty
../.config/kitty-themes
../.config/kitty.conf
../.config/kraxarn/
../.config/lazygit/
../.config/libfm/
../.config/libreoffice/
../.config/main.rasi
../.config/main_without_icons.rasi
../.config/menus/
../.config/mimeapps.list
../.config/modules.ini
../.config/mpd/
../.config/ncmpcpp/
../.config/ncspot/
../.config/neofetch/
../.config/nextjs-nodejs/
../.config/nitrogen/
../.config/nvim.backup/
../.config/nvim/
../.config/nvm/
../.config/nwg-look/
../.config/obs-studio/
../.config/obsidian/
../.config/old_configs/
../.config/pavucontrol/
../.config/peazip/
../.config/picom
../.config/picom (copy 1).conf
../.config/picom (copy 2).conf
../.config/picom.conf
../.config/plugins
../.config/pnpm/
../.config/polybar.bak
../.config/polybar/LICENSE
../.config/polybar/install.sh
../.config/polybar/launch.sh
../.config/polybar/modules/
../.config/polybar/screenshots/
../.config/polybar/scripts/README.md
../.config/polybar/scripts/cava_ncspot.sh
../.config/polybar/scripts/ncspot_status.sh
../.config/polybar/scripts/network_speed.sh
../.config/polybar/scripts/pomodoro.sh
../.config/polybar/scripts/rofi_pomodoro.sh
../.config/polybar/scripts/system_updates.sh
../.config/polybar/scripts/todo.sh
../.config/polybar/scripts/todos.txt
../.config/powermenu.rasi
../.config/pulse/
../.config/qBittorrent/
../.config/qt/
../.config/qutebrowser/
../.config/ranger
../.config/rc (copy 1).conf
../.config/rc.conf
../.config/redshift
../.config/redshift.conf
../.config/rofi.ani
../.config/rofi/
../.config/rofiinfo/
../.config/scripts/
../.config/smplayer/
../.config/spicetify/
../.config/spotify/
../.config/sptlrx/
../.config/starship/
../.config/surfingkeys-conf/
../.config/swappy/
../.config/systemd/
../.config/themes-alacritty.toml
../.config/themes-alacritty.yml
../.config/themes/
../.config/tmuxp/
../.config/user-dirs.dirs
../.config/user_variables.fish
../.config/variety/
../.config/vlc/
../.config/wal/
../.config/wal_colors.ini
../.config/walls/
../.config/wallust/
../.config/windowrules.conf
../.config/wlogout/
../.config/xarchiver/
../.config/xfce4/
../.config/xsettingsd/
../.config/yutkat/
../.config/zathura/
../.config/zsh
../.config/zsh-autosuggestions.zsh
../.config/zsh-syntax-highlighting
../.conkyrc
../.dmrc
../.dotfiles/
../.dotnet/
../.editorconfig
../.fehbg
../.gemini/
../.gitattributes
../.gitconfig
../.gnupg/
../.gnupg_backup/
../.gtkrc-2.0
../.i3/
../.icons/
../.keychain/
../.kodi/
../.local/
../.m2/
../.mozilla/
../.nix-defexpr/
../.nix-profile
../.npm/
../.pki/
../.pyenv/
../.ssh/
../.surfingkeys.js
../.tarball-installations/
../.theme_history
../.themes/
../.tmux.conf
../.tmux/
../.var/
../.vim/
../.viminfo
../.vscode-oss/
../.vscode/
../.wakatime.cfg
../.wakatime.log
../.wakatime/
../.wget-hsts
../.windsurf/
../.xinitrc
../.xinitrc.i3test
../.xsession
../.xsession-errors
../.xsession-errors.old
../.yarnrc
../1.cpp
../Anifiles/
../AnimeshMishra.pdf
../AnimeshMishra.pdf.pdf
../Arch-Hyprland/
../CMakeLists.txt
../Cargo.lock
../Cargo.toml
../Cody-nodejs/
../DSA/
../Deiselman/
../Desktop/
../DiscordMediaUploader/
../Documents/
../Downloads/
../GOG Games/
../Gruvify/
../IIPS_Academics_2.0/
../Makefile
../NewPortfolio/
../Package.swift
../Pictures/
../Projects/
../ResourceUploadModal.jsx
../Session.vim
../TECHNICAL_DOCUMENTATION.md
../Videos/
../WhatsApp Images/
../WhatsApp-Integration-in-React-Node/
../aesthetic-wallpapers/
../ani-bar/
../ani/
../aniismess/
../app/
../backup/
../bin/
../binding.gyp
../bindings/
../blog_django
../blogdjango/
../book.pdf
../caelestia/
../catnip/
../chrome/
../coding-interview-university/
../cohortassignments/
../components.json
../components/
../config/
../cunning/
../discord-linux-install/
../dotfiles/
../dotfiles_backup/
../dots-hyprland/
../dots/
../dwm-titus/
../error_log.txt
../exercism/
../face-recognation-attendance-system/
../firefox-gruvbox/
../gemini-global-servers/
../go.mod
../google-interview-university.apkg
../greivances/
../hellflix/
../hooks/
../hotfiles.zip
../hotfiles/
../i3-everforest-dotfiles/
../i3-readme.txt
../i3/
../i3wm-autoConfig/
../index.html
../install.log
../install.sh
../javasucks/
../lib/
../manganvim/
../ncspot/
../nextjs-nodejs/
../node-v14.15.4-linux-x64.tar.xz
../notes/
../nvim-config/
../nvimconfig/
../output.mp4
../package-lock.json
../package.json
../photo/
../polybar-spotify/
../polybar.zip
../polybarbackup
../pomodoro.sh
../portfolio/
../public/
../pyproject.toml
../python/
../quizmain.zip
../rofi-collection/
../rofi/
../rofithemes/
../setup.py
../styles/
../suckless/
../surfingkeys-conf/
../surfingkeys.js
../target/
../temp.mp4
../tmux-client-700036.log
../tmux-config/
../tree-sitter.json
../tsconfig.json
../typescript
../umm.mp4
../vaults/
../vibecodedappstesting/
../vms1/
../volunteeerms/
../watch_20250630-131825
../workstation/
../xinitrc.i3test